x-logging: &default-logging
  driver: loki
  options:
    loki-url: http://localhost:3100/loki/api/v1/push

services:
  mail-gateway:
    container_name: mail-gateway
    logging: *default-logging
    build:
      context: .
      target: mail-gateway-production
    ports:
      - ${PORT}:${PORT}
    environment:
      PORT: ${PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      SERVICE_NAME: mail-gateway
    depends_on:
      postgres:
        condition: service_healthy

  mail-worker:
    container_name: mail-worker
    logging: *default-logging
    build:
      context: .
      target: mail-worker-production
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      KAFKA_MAIL_TOPIC: ${KAFKA_MAIL_TOPIC}
      KAFKA_ADDRESSES: ${KAFKA_ADDRESSES}
      SERVICE_NAME: mail-worker
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    depends_on:
      postgres:
        condition: service_healthy

  delivery:
    container_name: delivery
    logging: *default-logging
    build:
      context: .
      target: delivery-production
    environment:
      KAFKA_MAIL_TOPIC: ${KAFKA_MAIL_TOPIC}
      KAFKA_ADDRESSES: ${KAFKA_ADDRESSES}
      KAFKA_CONSUMER_GROUP: ${KAFKA_CONSUMER_GROUP}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      SERVICE_NAME: delivery
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test:
        ["CMD-SHELL", "sh -c 'pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}'"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s

  redis:
    image: redis:6.2-alpine
    ports:
      - "${REDIS_PORT}:6379"
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD} --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    volumes:
      - redisdata:/data

  migrate:
    image: migrate/migrate
    volumes:
      - ./services/mail-gateway/migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://${DB_USERNAME}:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_DATABASE}?sslmode=disable",
        "up",
      ]
    links:
      - postgres
    depends_on:
      - postgres

  ############

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    depends_on:
      - tempo
      - loki
    ports:
      - "8889:8889"
      - "55679:55679"
      - "8888:8888"
      - "4317:4317"
    volumes:
      - ./infra/otel-collector-config.yaml:/etc/otel-collector-config.yaml

  prometheus:
    image: prom/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - --web.enable-remote-write-receiver
    ports:
      - 9090:9090
    volumes:
      - ./infra/prometheus.yml:/etc/prometheus.yml

  tempo:
    image: grafana/tempo:2.6.1
    command: ["-config.file=/etc/tempo.yaml", "-target=all"]
    volumes:
      - ./infra/tempo.yaml:/etc/tempo.yaml

  loki:
    image: grafana/loki:latest
    command: ["-config.file=/etc/loki/local-config.yaml"]
    ports:
      - "3100:3100"
    volumes:
      - ./infra/local-config.yaml:/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
      - GF_PLUGINS_ENABLE=tempo,loki
    volumes:
      - ./infra/data-sources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      # - grafanadata:/var/lib/grafana
      # - ./infra/grafana/provisioning:/etc/grafana/provisioning

volumes:
  pgdata:
  redisdata:
  # grafanadata:
