zookeeper_data_dir: /opt/zookeeper/data
zookeeper_datalog_dir: /opt/zookeeper/datalog
zookeeper_image: zookeeper:3.9.2
zookeeper_client_port: 2181
zookeeper_peer_port: 2888
zookeeper_leader_port: 3888
zookeeper_tick_time: 2000
zookeeper_init_limit: 10
zookeeper_sync_limit: 5
zookeeper_servers: >-
  {%- for host in groups['zookeeper'] -%}
  server.{{ loop.index }}={{ hostvars[host].ansible_host }}:{{ zookeeper_peer_port }}:{{ zookeeper_leader_port }};{{ zookeeper_client_port }}
  {%- if not loop.last %} {% endif -%}
  {%- endfor -%}

kafka_image: confluentinc/cp-kafka:7.6.1
kafka_port: 9092
kafka_log_segment_bytes: "1073741824"
kafka_log_retention_bytes: "-1"
kafka_heap_opts: "-Xmx2G -Xms2G"
kafka_log_retention_ms: "604800000"
kafka_zookeeper_connect: >-
  {{
    groups['zookeeper']
    | map('extract', hostvars, 'ansible_host')
    | map('regex_replace', '$', ':' ~ zookeeper_client_port)
    | join(',')
  }}

kafka_ui_image: provectuslabs/kafka-ui:latest
kafka_ui_port: 9020
kafka_ui_brokers: >-
  {{
    groups['kafka']
    | map('extract', hostvars, 'ansible_host')
    | map('regex_replace', '$', ':' ~ kafka_port)
    | join(',')
  }}

ansible_user: de4et
ansible_sudo_pass: de4et
ansible_ssh_private_key_file: ~/.ssh/id_rsa
