---
# tasks file for kafka
- name: Copy Kafka-UI Docker Compose file
  template:
    src: kafka-ui-docker-compose.yml
    dest: /opt/kafka-ui-docker-compose.yml
    mode: "0644"

- name: Start Kafka UI service
  community.docker.docker_compose_v2:
    project_src: /opt/
    files: kafka-ui-docker-compose.yml
    wait: true
    wait_timeout: 15
  register: output

- name: Verify that kafka ui is running
  ansible.builtin.assert:
    that:
      - kafka_ui_container.State == 'running'
  vars:
    kafka_ui_container: >-
      {{ output.containers | selectattr("Service", "match", "kafka-ui") | first }}

- name: Wait for Kafka to be ready
  wait_for:
    host: "{{ ansible_host }}"
    port: "{{ kafka_ui_port }}"
    state: started
    timeout: 300
