replicaCount: 1

env: dev
owner: TimurKa

image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent

containerPort: 8080

configMapName: ""
secretName: ""

serviceAccount:
  create: false
  name: ""

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 200m
    memory: 200Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
